type        : agent.plugin
label       : '[AGENT] Multiple Sites Check'
disabled    : false
period      : 60
timeout     : 30
details     :
    file    : multi_curl_check.sh
alarms      :
    alarm-multiple_sites_check  :
        label                 : '[AGENT] Multiple Sites Check'
        notification_plan_id  : {{notification_plan}} 
        criteria              : |
          if (metric['status'] != 'OK') {
            return new AlarmStatus(CRITICAL, '#{status}');
          }
          return new AlarmStatus(OK, 'All sites ok.');
